html {
    background-color: #ffffff;
    font-family: trebuchet, geneva, sans-serif;
    border: 0.2em solid;
    flex: 200%;
}
  article{
    padding: 0.5rem;
    box-sizing: border-box;
    text-align:center ;
  }

  aside{
    padding: 0.2rem;
    box-sizing: border-box;
    text-align: center;
  }
  
  
  header {
    padding: 0.25rem;
    box-sizing: border-box;
    text-align: center;/*aligns text*/
    background-color: rgba(97, 96, 96, 0.548);
    color: rgb(0, 0, 0); /*change colour of the text*/
    border-bottom:0.2em solid;
  
  }


  nav {
    display:flex;
    background-color: rgb(245, 235, 235);
    padding: 10px 0;
    border-bottom:0.2em solid;
  }
  nav a {
    flex: auto;
    text-align: center;
    background: rgba(221, 218, 20, 0);
    color: rgb(0, 0, 0);
    margin: 0 5px;
    padding: 5px 0;
    text-decoration: none;
  }
  nav a:hover {
    outline: 1px solid rgb(120, 167, 238);
    color: rgb(89, 174, 243);
    text-decoration: underline;
  }
  


    body {
      display: flex;     /* displays the format of the content in a specific form*/                  
      flex-direction: column;
      max-width: 80rem;
      margin: auto;
    }
    main {
      display: flex;
      flex-wrap:inherit;
      box-sizing: border-box;
      border-bottom: 0.2rem solid;
    }
    nav, header {
      order: -1;
    }
    article {
      flex-direction: column;
      flex: 50%;
    }
    aside {
      flex-direction: column;
      flex: 25%;
      background-color: rgb(218, 218, 218);
    }

    footer{
        display:flex;
        flex-direction: column;
        flex:250%;
    }